@charset "UTF-8";
/* base font size for rems*/
.html {
	font-size: 16px;
}

/* common */

h2 {
	clear: both;
}
/* blocks aside each other */

.Block {
	float: left;
	height: 300px;
	height: 18.75rem;
}

.Container {
	width: 600px;
	width: 37.5rem;
}

.Box {
	width: 300px;
	width: 18.75rem;
}

.Left {
	background-color: red;
}

.Right {
	background-color: blue;
}

/* flex */

.ContainerFlex{
	display: flex;
}

.BoxFlex{
	width: 150px;
	width: 9.375rem;
}
.LeftFlex{
	flex-grow: 2;
}
.RightFlex{
	flex-grow: 3;
}
/* width of the text area */

.Text{
	width: 480px;
	width: 30rem;
}